body {
    padding: 0;
    margin: 0;
    background-image: url(images/pinboard.jpg);
}

nav {
    background-color: black;
    display: flex;
}

nav h1 {
    margin-left: 45%;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container #imageGallery {
    margin-top: 1rem;
    margin-left: 1rem;
}

#container #imageGallery img {
    margin-right: 1rem;
    cursor: pointer;
}

#container .addImage {
    display: block;
    width: 7%;
}

#container .addImage img {
    margin-top: 5rem;
    width: 80%;
    cursor: pointer;
    margin-left: 1rem;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#mehr {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}