body {
    padding: 0;
    margin: 0;
    background-image: url(images/pinboard.jpg);
  }
  
  nav {
    background-color: black;
    display: flex;
  }
  
  nav h1 {
    margin-left: 45%;
    color: white;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #container #imageGallery {
    margin: 1rem;
  }
  
  #container #imageGallery img {
    margin: 0 1rem 1rem 0;
    cursor: pointer;
  }
  
  #container .addImage {
    display: block;
    width: 7%;
  }
  
  #container .addImage img {
    margin: 5rem 1rem 0;
    width: 80%;
    cursor: pointer;
  }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    padding: 2rem; /* Add some padding */
    width: 80%; /* Set a width */
    background-color: white; /* Add a background color */
    border-radius: 1rem; /* Add rounded corners */
    box-shadow: 0px 0px 10px #ccc; /* Add a drop shadow */
    overflow: auto; /* Enable scroll if needed */
  }

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #mehr {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  